{% extends 'base.html' %} {% block content %}

<div class="card">
    <div class="card-header text-bg-danger text-center h3">
        <strong>
            SISTEM PRESENSI MANDIRI
        </strong>
    </div>
    <div class="card-body">
        <h5 class="card-title">Identifikasi Wajah Anda</h5>
        <p class="card-text">Izinkan akses kamera!</p>

        <!-- <video src="..." class="object-fit-fill" width="640" height="480" autoplay></video>
        <button type="button" class="btn btn-primary btn-sm d-grid gap-2 d-md-block" onclick="capture()">Ambil
            Foto</button>
        <br>
        <canvas id="canvas" width="640" height="480" style="display: none;"></canvas>
        <br> -->

        <div>
            <img src="{{ url_for('video') }}" width="50%" />
        </div>
        <br>
        <button type="button" class="btn btn-primary btn-sm d-grid gap-2 d-md-block" onclick="capture()">Ambil
            Gambar</button>
        <br>

        <div class="d-grid gap-2 d-md-block">
            <a href="#">
                <button class="btn btn-success" type="submit">Submit</button>
            </a>
            <a href="{{ url_for('index') }}" class="btn btn-danger">Back To Home</a>
        </div>
    </div>
</div>

{% endblock %}