{% extends 'base.html' %} {% block content %}

<div class="card">
    <div class="card-header text-bg-danger text-center h3">
        <strong>
            SISTEM PRESENSI MANDIRI
        </strong>
    </div>
    <div class="card-body">
        <h5 class="card-title">Registrasi Wajah Anda!</h5>
        <p class="card-text">Isi Form Berikut:</p>

        <div class="mb-3">
            <label for="nim" class="form-label">NIM:</label>
            <input type="text" class="form-control" id="nim" required>
        </div>
        <br>
        <video id="video" width="680" height="480" autoplay></video>
        <br>
        <button type="button" class="btn btn-primary btn-sm d-grid gap-2 d-md-block" onclick="capture()">Ambil
            Gambar</button>
        <br>
        <canvas id="canvas" width="680" height="480" style="display: none;"></canvas>
        <br>

        <div class="d-grid gap-2 d-md-block">
            <a href="#">
                <button class="btn btn-success" type="submit" onclick="register()">Submit</button>
            </a>
            <a href="{{ url_for('index') }}" class="btn btn-danger">Back To Home</a>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}